.fa-briefcase {
    margin-top: 15px;
}
.main {
    font-family: Poppins;
}
.works {
    margin: 10px;
}
.work-text {
    margin: 20px;
    font-size: 18px;
    font-weight: 400;
}
.service-pro {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(142, 139, 133, 0.32) !important;
    border-radius: 15px;
    margin-right: 80px;
}
.sptitle {
    margin: 10px;
    line-height: 15px;
    font-weight: 550;
    font-size: 15px;
}
.site-img {

}
.img {
    width: 230px;
    height: 150px;
    margin-left: 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(142, 139, 133, 0.32) !important;
}
.sptext {
    margin: 10px;
    line-height: 20px;
    padding: 5px;

}
.btnlinks {
    text-decoration: none;
}
.btn {
    margin: 20px 10px 15px 0px;
}



@media only screen and (max-width: 768px) {
    .fa-briefcase {
        margin-top: 17px;
    }
    .page-header {
        margin-left: 40px;
    }
    .works {
        margin: 10px;
    }
    .work-text {
        margin: 15px 0px 15px 5px;
        font-size: 15px;
        font-weight: 400;
        width: 95%;
    }
    .service-pro {
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(142, 139, 133, 0.32) !important;
        border-radius: 15px;
        margin-bottom: 20px;
        width: 28rem;
        margin-left: -2rem;
    }
    .sptitle {
        padding: 15px 0px 5px 5px;
        line-height: 15px;
        font-weight: 550;
        font-size: 15px;
    }
    .sptext {
        margin: 10px;
        line-height: 15px;
        padding: 5px;
    
    }
    .btn {
        margin: 20px 10px 15px 0px;
    }
    .img {
        width: 250px;
        height: 150px;
        margin-left: 1px;
    }

    
}